html *
{
   color: #000 !important;
   font-family: 'Helvetica Neue', sans-serif !important;
   font-weight: 150 !important;
   letter-spacing: 1px !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 75px;
    padding: 2px;
    font: 9px;
    /* background: #e0c2fc; */
    border: solid;
    border-width: 1px;
    border-radius: 5px;
  }


  div.pietooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 60px;
    padding: 2px;
    font: 6px;
    background: #f7f7f7;
    /* border: solid; */
    border-width: 1px;
    border-radius: 5px;
  }

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr
}

img {
    position: relative;   
    display: block;
    float: left;
}

div.head {
    padding: 30px;
    margin: 10px;
    font-size: 25px;
    text-align: center; 
}


#info {
    text-align: left;
}

#slider {
    text-align: left;
}


.sub {
    font-size: 20px;
} 

.button-container {
    display: block;
    position: relative;
    margin: auto;
  }

.button:hover {background-color: #06f6e2}
